$color-grey-bg: rgba(248, 248, 248, 1);
$color-white: rgba(255, 255, 255, 1);
$color-blue-line: rgba(217, 255, 245, 1);
$color-blue-focus: rgba(184, 255, 236, 1);
$color-black-main: rgba(27, 28, 33, 1);
$color-gray-main: rgba(126, 126, 130, 1);
$color-blue-dividor: rgba(65, 246, 215, 1);
$color-grey-dividor: rgba(234, 234, 234, 1);
$color-pinc-main: rgba(255, 62, 121, 1);